*{
    margin: 0px;
    font-family: Inter;
}
#Principal{
    background-color: #303030;
    width: 1440px;
    height: 475px;
    color: #ffffff;
}
.TextSup{
    padding-left: 62px;
}
#TextTitle{
    padding-top: 206px;
    font-size: 60px;
    font-family: Display xl/SemiBold;
}
#TextSubtitle{
    padding-top: 28px;
    font-size: 20px;
}
#MenuInfo{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #f9f9f9;
    font-size: 20px;
    color: #000000;
    margin: 60px 0px 60px 150px;
    padding-bottom: 40px;
}
#MenuPhoto{
    display: grid;
    grid-auto-flow: column;
    margin-top: 42px;
}
#TextPhoto{
    color:#000000;
    padding-top: 25%;
    margin-top: 40px;
}
#TextPhotoSup{
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color:#000000;
}
#TextPhotoSub{
    font-size: 23px;
    font-weight: 300px;
    text-align: left;
    color: #000000;
    padding-top: 15px;
    padding-left: 4%;
}